doctype html
html(lang="fr")
    head
        title
            | A3s-crud
        h1 Page de modification
        br
    body
        form(action="./modif" method="POST")
            label(for="id") Id:
            input(
                type="text"
                id="id"
                name="id"
                value=page.id
            )
            br
            br
            label(for="title") titre:
            input(
                type="text"
                id="title"
                name="title"
                value=page.title
            )
            br
            br
            label(for="content") Contenue:
            textarea#content(name="content", cols="30", rows="10")
                value=page.content
            br
            br
            label(for="order") Ordre de placement sur le menu:
            input(
                type="text"
                id="order"
                name="order"
                value=page.order
            )
            br
            br
            label(for="type") Type:
            input(
                type="text"
                id="type"
                name="type"
                value=page.type
            )
            br
            br
            label(for="meta_title") Meta Title:
            input(
                type="text"
                id="meta_title"
                name="meta_title"
                value=page.meta_title
            )
            br
            br
            label(for="meta_description") Description:
            input(
                type="text"
                id="meta_description"
                name="meta_description"
                value=page.meta_description
            )
            br

            input(type="submit" value="Submit")